/packages
/Maddalena/bin
/Maddalena/obj
/.vs
/Microsoft.AspNetCore.Identity.MongoDB/obj
/Microsoft.AspNetCore.Identity.MongoDB/bin/Release/netstandard2.0
/Maddalena.ML/obj
/Maddalena.ML/bin
/Maddalena.ML.Adapters.AdventureWorks/obj
/Maddalena.ML.Adapters.AdventureWorks/bin
/Maddalena.ML.Adapters.Magento/bin
/Maddalena.ML.Adapters.Magento/obj
/Maddalena.ML.Adapters.Prestashop/bin
/Maddalena.ML.Adapters.Prestashop/obj
/Maddalena.ML.Adapters.WooCommerce/obj
/Maddalena.ML.Adapters.WooCommerce/bin
/Microsoft.AspNetCore.Identity.MongoDB/bin
/ServerSideAnalytics.Mongo/bin
/ServerSideAnalytics.Mongo/obj
/ServerSideAnalytics.IpInfo/obj
/ServerSideAnalytics.IpInfo/bin
/ServerSideAnalytics/obj
/ServerSideAnalytics/bin
/Countries/obj
/Countries/bin
/Countries.IpInfo/obj
