

@using Maddalena.Extensions
@using Maddalena.Core.Blog.Services

@inject IBlogService blogService

@{
  ViewData["Title"] = "Home Page";
}

<section>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid" src="~/img/cover.jpg" style="width:100%" />
    </div>
  </div>
</section>

<section>
  <section>
    <div class="row">
      <div class="col-12">
        <h1>An italian nerd in Prague</h1>
      </div>
    </div>
  </section>
  <section>
    @foreach (var row in (await blogService.GetPosts(100)).Batch(3))
    {
      <div class="row">
        @foreach (var item in row)
        {
          <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-header">
                @item.Title
              </div>
              <div class="card-body">
                @item.Excerpt
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-primary">&gt; Go to</a>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </section>
</section>
