
@{
  ViewData["Title"] = "Contact";
}

<section>
    <div class="row">
        <div class="col-6">
            <h3>
                <a href="https://github.com/matteofabbri" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>
                <a href="https://twitter.com/theqult" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>
                <a href="https://www.linkedin.com/in/theqult/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>
                <a href="https://stackoverflow.com/story/matteofabbri" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a>
            </h3>
        </div>
    </div>
         <div class="row">
        <div class="col-6">
            <h3>
                <a href="https://www.instagram.com/theqult" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            </h3>
        </div>
    </div>
</section>