
@{
  ViewData["Title"] = "Contact";
}

<h2>Contacts</h2>

<section>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://github.com/matteofabbri" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
    </li>
    <li class="list-group-item">
      <a href="https://twitter.com/theqult" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.linkedin.com/in/theqult/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.instagram.com/theqult" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
    </li>
    <li class="list-group-item">
      <a href="https://stackoverflow.com/story/matteofabbri" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a>
    </li>
  </ul>
</section>