
@{
    ViewData["Title"] = "Services";
}

@model Microsoft.Extensions.DependencyInjection.IServiceCollection

<h2>Services</h2>
<ul>
    @foreach(var service in Model)
    {
        <li>
            @service.ServiceType.FullName
        </li>
    }
</ul>
