@using Maddalena.Models.Porn
@model Maddalena.Models.Porn.PornHubItem[]

<div class="row">
    <h3>3.567.721 movie into the database</h3>
</div>

<h4>Random items</h4>

@for(var k=0; k < 50; k++)
{
    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            <div class="col-md-3">
                <img class="img-fluid" src="@Model[(k*4)+i].Preview" />
            </div>
        }
    </div>
}

