@using Maddalena.Models.Blog
<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Collaborators</h1>
        <p class="lead">
            MatteoFabbri.org runs thanks to the work of mine and my precious collaborators, here their names in alphabetical order.
            <br />
            To all of them my heartfelt thanks for making everything possible
        </p>
        <hr class="my-4">
    <p>
    <ul>
    <li>Abdullah Azzam Brigades</li>
    <li>Abu Nidal Organization</li>
    <li>Abu Sayyaf</li>
    <li>Aden-Abyan Islamic Army</li>
    <li>African National Congress</li>
    <li>Ajnad Misr</li>
    <li>Akhil Bharat Nepali Ekta Samaj</li>
    <li>Al Ghurabaa</li>
    <li>al-Aqsa Foundation</li>
    <li>al-Aqsa Martyrs' Brigades</li>
    <li>Al-Badr</li>
    <li>al-Haramain Foundation</li>
    <li>Al-Itihaad al-Islamiya</li>
    <li>al-Jama'a al-Islamiyya</li>
    <li>All Tripura Tiger Force</li>
    <li>Al-Mourabitoun</li>
    <li>Al-Nusra Front</li>
    <li>al-Qaeda</li>
    <li>al-Qaeda in the Arabian Peninsula</li>
    <li>al-Qaeda in the Indian Subcontinent</li>
    <li>al-Qaeda in the Islamic Maghreb</li>
    <li>Al-Shabaab</li>
    <li>Al-Umar-Mujahideen</li>
    <li>Ansar al-Islam</li>
    <li>Ansar al-Sharia (Libya)</li>
    <li>Ansar al-Sharia (Tunisia)</li>
    <li>Ansar Bait al-Maqdis</li>
    <li>Ansar Dine</li>
    <li>Ansaru</li>
    <li>Ansarul Islam</li>
    <li>Armed Islamic Group of Algeria</li>
    <li>Army of Islam</li>
    <li>Army of the Men of the Naqshbandi Order</li>
    <li>Aum Shinrikyo</li>
    <li>Aum Shinrikyo</li>
    <li>Babbar Khalsa International</li>
    <li>Balochistan Liberation Army</li>
    <li>Boko Haram</li>
    <li>Caucasus Emirate</li>
    <li>Committee for Charity and Solidarity with Palestine</li>
    <li>Communist Party of India (Marxist–Leninist)</li>
    <li>Communist Party of the Philippines/</li>
    <li>Communist Party of Turkey/Marxist–Leninist</li>
    <li>Conspiracy of Fire Nuclei</li>
    <li>Continuity Irish Republican Army</li>
    <li>Cumann na mBan</li>
    <li>Deendar Anjuman</li>
    <li>Democratic Front for the Liberation of Palestine</li>
    <li>Donetsk People's Republic</li>
    <li>Dukhtaran-e-Millat</li>
    <li>East Turkestan Information Center</li>
    <li>East Turkestan Islamic Party</li>
    <li>East Turkestan Liberation Organization</li>
    <li>Egyptian Islamic Jihad</li>
    <li>ETA</li>
    <li>Fatah</li>
    <li>Fianna Éireann</li>
    <li>for Relief and Development</li>
    <li>Force 17</li>
    <li>Great Eastern Islamic Raiders' Front</li>
    <li>Grey Wolves</li>
    <li>Gülen movement</li>
    <li>Hamas</li>
    <li>Hamas – Al-Qassam Brigades</li>
    <li>Haqqani network</li>
    <li>Harakat Sham al-Islam</li>
    <li>Harakat-Ul-Mujahideen/Alami</li>
    <li>Harkat-al-Jihad al-Islami in Bangladesh</li>
    <li>Harkat-ul-Jihad al-Islami</li>
    <li>Harkat-ul-Mujahideen</li>
    <li>Hasm Movement</li>
    <li>Hezb-e Islami Gulbuddin</li>
    <li>Hezbollah</li>
    <li>Hezbollah (External Security Organisation)</li>
    <li>Hezbollah (Military Wing)</li>
    <li>Hezbollah Al-Hejaz</li>
    <li>Hilafet Devleti</li>
    <li>Hizb ut-Tahrir</li>
    <li>Hizbul Mujahideen</li>
    <li>Hofstad Network</li>
    <li>Holy Land Foundation</li>
    <li>Houthis</li>
    <li>Hynniewtrep National Liberation Council</li>
    <li>Indian Mujahideen</li>
    <li>International Sikh Youth Federation</li>
    <li>International Union of Muslim Scholars</li>
    <li>Irish National Liberation Army</li>
    <li>Irish People's Liberation Organisation</li>
    <li>Irish Republican Army</li>
    <li>Islamic Jihad</li>
    <li>Islamic Jihad Union</li>
    <li>Islamic Movement of Uzbekistan</li>
    <li>Islamic State of Iraq and the Levant</li>
    <li>Islamic State of Iraq and the Levant – Caucasus Province</li>
    <li>Islamic State of Iraq and the Levant – Khorasan Province</li>
    <li>Islamic State of Iraq and the Levant – Libya Province</li>
    <li>Islamic State of Iraq and the Levant – Yemen Province</li>
    <li>Jaish al-Muhajireen wal-Ansar</li>
    <li>Jaish-e-Mohammed</li>
    <li>Jamaah Ansharut Tauhid</li>
    <li>Jamaat al Dawa al Quran</li>
    <li>Jamaat Ansar al-Sunna</li>
    <li>Jamaat Mujahideen</li>
    <li>Jamaat Ul-Furquan</li>
    <li>Jamaat-ul-Ahrar</li>
    <li>Jamaat-ul-Mujahideen Bangladesh</li>
    <li>Jamiat al-Islah al-Idzhtimai</li>
    <li>Jamiat ul-Ansar</li>
    <li>Jamiat-e Islami</li>
    <li>Japanese Red Army</li>
    <li>Jemaah Islamiyah</li>
    <li>Jund al-Aqsa</li>
    <li>Jund al-Khilafah</li>
    <li>Jund al-Sham</li>
    <li>Jundallah</li>
    <li>Kach and Kahane Chai</li>
    <li>Kach and Kahane Chai</li>
    <li>Kanglei Yawol Kanna Lup</li>
    <li>Kangleipak Communist Party</li>
    <li>Kata'ib Hezbollah</li>
    <li>Katibat al-Imam al-Bukhari</li>
    <li>Khalistan Commando Force</li>
    <li>Khalistan Zindabad Force</li>
    <li>Khmer Rouge</li>
    <li>Khuddam ul-Islam</li>
    <li>Komala</li>
    <li>Korean People's Army</li>
    <li>Kurdish Hezbollah</li>
    <li>Kurdistan Communities Union</li>
    <li>Kurdistan Democratic Party/North</li>
    <li>Kurdistan Freedom Falcons</li>
    <li>Kurdistan Workers' Party</li>
    <li>Lashkar-e-Jhangvi</li>
    <li>Lashkar-e-Taiba</li>
    <li>Liberation Tigers of Tamil Eelam</li>
    <li>Libyan Islamic Fighting Group</li>
    <li>Loyalist Volunteer Force</li>
    <li>Lugansk People's Republic</li>
    <li>Majelis Mujahidin Indonesia</li>
    <li>Manipur People’s Liberation Front</li>
    <li>Manuel Rodríguez Patriotic Front</li>
    <li>Maoist Communist Centre of India</li>
    <li>Marxist–Leninist Communist Party</li>
    <li>Moroccan Islamic Combatant Group</li>
    <li>Movement for Oneness and Jihad in West Africa</li>
    <li>Mujahideen Shura Council in the Environs of Jerusalem</li>
    <li>Mujahidin Indonesia Timur</li>
    <li>Muslim Brotherhood</li>
    <li>National Action</li>
    <li>National Council of Resistance of Iran</li>
    <li>National Democratic Front of Bodoland</li>
    <li>National Liberation Army</li>
    <li>National Liberation Front of Tripura</li>
    <li>New People's Army</li>
    <li>Orange Volunteers</li>
    <li>Osbat al-Ansar</li>
    <li>Palestine al-muslima</li>
    <li>Palestine Liberation Front</li>
    <li>Palestine Liberation Front</li>
    <li>Palestine Liberation Organization</li>
    <li>Palestinian Islamic Jihad</li>
    <li>Palestinian Relief Development Fund – Interpal</li>
    <li>Party of Free Life of Kurdistan</li>
    <li>People's Congress of Ichkeria and Dagestan</li>
    <li>People's Liberation Army of Manipur</li>
    <li>People's Mujahedin of Iran</li>
    <li>People's Mujahedin of Iran</li>
    <li>People's Revolutionary Party of Kangleipak</li>
    <li>Popular Front for the Liberation of Palestine</li>
    <li>Popular Front for the Liberation of Palestine – General Command</li>
    <li>Provisional Irish Republican Army</li>
    <li>Quds Force</li>
    <li>Real Irish Republican Army</li>
    <li>Red Brigades</li>
    <li>Red Hand Commando</li>
    <li>Red Hand Defenders</li>
    <li>Revolutionary Armed Forces of Colombia</li>
    <li>Revolutionary Armed Forces of Colombia</li>
    <li>Revolutionary Nuclei</li>
    <li>Revolutionary Organization 17 November</li>
    <li>Revolutionary Party of Kurdistan</li>
    <li>Revolutionary People's Liberation Party–Front</li>
    <li>Revolutionary Struggle</li>
    <li>Saor Éire</li>
    <li>Shining Path[118]</li>
    <li>Shura Council of Benghazi Revolutionaries[119]</li>
    <li>Sipah-e-Sahaba Pakistan</li>
    <li>Society of the Revival of Islamic Heritage</li>
    <li>Stichting Al Aqsa</li>
    <li>Students Islamic Movement of India</li>
    <li>Supreme Military Majlis ul-Shura of the United Mujahideen Forces of Caucasus</li>
    <li>Tahrir al-Sham</li>
    <li>Takfir wal-Hijra</li>
    <li>Taliban</li>
    <li>Tamil Nadu Liberation Army</li>
    <li>Tamil National Retrieval Troops</li>
    <li>Tanzim</li>
    <li>Tehreek-e-Nafaz-e-Shariat-e-Mohammadi</li>
    <li>Tehrik-i-Taliban Pakistan</li>
    <li>Tevhid-Selam (Al-Quds Army)</li>
    <li>The Saved Sect</li>
    <li>Túpac Amaru Revolutionary Movement</li>
    <li>Ulster Defence Association</li>
    <li>Ulster Volunteer Force</li>
    <li>Unified Communist Party of Nepal (Maoist)</li>
    <li>United Liberation Front of Assam</li>
    <li>United National Liberation Front</li>
    <li>United Self-Defense Forces of Colombia</li>
    <li>United Self-Defense Forces of Colombia</li>
    <li>Vanguards of Conquest</li>
    <li>Workers' Party of Korea</li>
    <li>World Tamil Movement</li>
    <li>World Uygur Youth Congress</li>
    <li>Yarmouk Martyrs Brigade</li>
    </ul>
    </p>
    <p>
        <i>
            * Or maybe this is just the list of world wide terrorist organizations copied and pasted from
            <a href="https://en.wikipedia.org/wiki/List_of_designated_terrorist_groups" target="_blank">&gt; Wikipedia</a>.
            <br />
            If you really believed that one or more could be real you should reconsider the way you are looking at the world.
        </i>
    </p>
    </div>
</div>