@using Maddalena.Modules.Blog
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        @{
            var articles = BlogArticle.Queryable().OrderByDescending(x => x.DateTime).Take(5);
        }

        @foreach (var article in articles)
        {
            <section>
                <article>
                    <h2>@article.Title</h2>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(article.Body)
                        </div>
                    </div>
                </article>
            </section>
        }
    </div>
</div>