@using Maddalena.Modules.Blog
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-9">
        @{
            var articles = BlogArticle.Queryable().OrderByDescending(x => x.DateTime).Take(5);
        }
        
        @foreach (var article in articles)
        {
            <section>
                <article>
                    <h2>@article.Title</h2>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.Raw(article.RenderedBody)
                        </div>
                        <hr/>
                    </div>
                </article>
            </section>
        }
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-12">
                <p lang="en">
                    Hi ! 
                    Welcome to my personal space on the net.
                    <br/>
                    This is not blog, or a portfolio.
                    <br/>

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/account/login" class="btn btn-outline-primary my-2 my-sm-0">&gt; Log in</a>
                }
            </div>
        </div>
        <div class="row">
            @Html.Raw(Maddalena.Modules.Adv.Google.Display)
        </div>
    </div>
</div>
