@using Maddalena.Modules.Blog
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        @{
            var articles = BlogArticle.Queryable().OrderByDescending(x => x.DateTime).Take(5);
        }
        
        @foreach (var article in articles)
        {
            <h2>@article.Title</h2>

            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(article.RenderedBody)
                </div>
                <hr />
            </div>
        }
    </div>
    <div class="col-md-2">
        @Html.Raw(Maddalena.Modules.Adv.Google.Display)
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="/account/login">&gt; Log in</a>
        }
    </div>
</div>
