@using Maddalena.Models.Blog
<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Privacy policy</h1>
        <p class="lead">I don't give a fuck about who you are, even less about your preferences</p>
        <hr class="my-4">
        <p>
            I save couple of data for every request that comes to my server like: IP address, requested page, referer and so on.
            <br />
            Just to know if someone is actually reading this website without using strange third party services like Google Analytics.
            <br/> 
            If you don't like to be in that list, send a mail and I will, very slowly, taking care of your request.
        </p>
        <a class="btn btn-primary btn-lg" href="/stat" role="button">Anyone can read those data here</a>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Cookie policy</h1>
        <p class="lead">
            This website use two different policy depending from where visitors comes from:
            <ul>
                <li>
                    From Europe: no third party cookie, just the default system one that makes anything works.
                </li>
                <li>
                    Outside Europe: it will shine luck a fucking Vegas casino, with advertising, third-part cookies, tracking codes and what so ever.
                    <br/>
                    I could also sell your data to lot of organizations around the globe, included but not limited to our precious
                    <a href="/home/collaborators" target="_blank">
                        &gt; list of collaborators
                    </a>
                </li>
            </ul>
        </p>
        <hr class="my-4">
        <p>Discover more about how this system works</p>
        <a class="btn btn-primary btn-lg" href="/read/play-with-gdpr" role="button">Here</a>
    </div>
</div>