
@using Maddalena.Core.Blog
@inject IBlogService _blog

<!-- *SIDEBAR-NAV* -->
<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home"></i> Home
      </a>
    </li>
    @foreach (var item in await _blog.GetPosts(5))
    {
      <li class="nav-item">
        <a class="nav-link" href="/read/@item.Slug">@item.Title</a>
      </li>

    }

    <li class="nav-title">
      Running code
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Home" asp-action="Stat">
        <i class="icon-puzzle"></i> Web analytics
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Youtube" asp-action="Index">
        <i class="icon-puzzle"></i> Youtube
      </a>
    </li>
  </ul>
</nav>
<!-- /*SIDEBAR-NAV* -->
