@inject SignInManager<MaddalenaUser> SignInManager
@inject UserManager<MaddalenaUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown" style="margin-right:25px">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>

            <a class="dropdown-item" href="*/manage/Index">
              <i class="fa fa-sliders-h"></i> Settings
            </a>

            <form asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item px-3" style="margin-right: 15px !important;">
            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
